<strong>{{ subscriber_name }}</strong>
<p>Olá, {{ name }}</p>
<p>
  <strong>E-mail: </strong> {{ email }} <br />
  <strong>Código de acesso: </strong> {{ password }} <br />
  <br />
  <small>
    Só é possível alterar senha com a senha acima gerada.
  </small>
</p>
